Requirements
============

Before using Kinesis here are the hardware and software requirements:

### Hardware Requirements

  1. Windows 7 enabled PC.

  2. Kinect for Windows or Microsoft XBOX 360 Kinect
  
### Software Requirements

  1. Windows 7 or above.

  2. [Kinesis SDK](http://kinesis.io/download)


